{{ define "main" }}
    <div class="not-found-card">
        <h1 class="article-title">{{ T "notFound.title" }}</h1>
        <h2 class="article-subtitle">{{ T "notFound.subtitle" }} Maybe you're trying to visit <a href="#" id="dynamicLink">this page</a>.</h2>
    </div>
    {{ partialCached "footer/footer" . }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var requestedPath = window.location.pathname;
            var correctedPath = "/zh-cn" + requestedPath;
            document.getElementById('dynamicLink').setAttribute('href', correctedPath);
        });
    </script>
{{ end }}